.button-70 {
  transition: all .5s ease;
  background-color: transparent;
  border: 5;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: capitalize;
}

button:hover {
  color: #001F3F;
  background-color: #fff;
}