body {
  background: linear-gradient(-45deg, #85CBD9, #F6EADB, #FFC86D, #FC8585);
  background-size: 400% 400%;
  animation: gradient 100s ease infinite;
  height: 100vh;
  margin: 0;
  font-family: "Oxygen", Courier, monospace;
  font-size: 23px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}